<h2 id="register-header">Register</h2>
<form action="/register" method="post">
  <input id="register-username" type="text" placeholder="Enter Username here" name="username">
  <input id="register-password" type="password" placeholder="Enter Password here" name="password">
  <input id="register-submit" type="submit" value="Submit">
</form>